wikipedia
openai==0.28.0
google-api-python-client
func_timeout
sympy
jieba
protobuf==3.20.1
googletrans==4.0.0-rc1
scholarly==1.7.11
numpy
transformers
torch==2.0.0
sentencepiece
tokenizers
accelerate
deepspeed
spacy